@font-face {
  font-family: Caesar;
  src: url("fonts/caesar.ttf");
}

html {
  padding: 1em;
  margin: 0;
}

body {
  color: #fff;
  background-color: #000;
  font-family: Caesar, sans-serif;
  font-weight: normal;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

h1 {
  color: #ffbf00;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  font-family: Caesar, sans-serif;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

nav a {
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration:  none;
  border: 1px solid #fff;
  background-color: #ccc;
  border-radius: .3em;
  padding: .5em 1em .5em 1em;
}

img {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  background-color: #444;
  border-radius: .5em;
  padding: .5em;
}

.Ajaktext {
  color: #54d0e3;
}

.Druigtext {
  color: #330003;
}

.Giltext{
  color: #b3b300;
}

.Ikaristext {
  color: #10107d;
}

.Kingotext {
  color: #38007d;
}

.Makkaritext {
  color: #ba2500;
}

.Phastext {
  /* color: #6900b0; */
  color: #aa5cff;
}

.Sersitext {
  color: #00730a;
}

.Spritetext {
  color: #00708a;
}

.Thenatext {
  color: #fff9b5;
}

#container {
  /* align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media all and (min-width: 30rem) {
  nav {grid-template-columns: repeat(2, 1fr)}
  #container {grid-template-columns: repeat(2, 1fr)}
}

@media all and (min-width: 50rem) {
  nav {grid-template-columns: repeat(5, 1fr)}
  #container {grid-template-columns: repeat(5, 1fr)}
}

@media all and (min-width: 75rem) {
  nav {grid-template-columns: repeat(10, 1fr)}
  #container {grid-template-columns: repeat(10, 1fr)}
}
