* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #c2c2c2;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  background-image: linear-gradient(to bottom, #4545c9, #4141bd, #3c3cb1, #3838a5, #343499, #30308e, #2b2b84, #272779, #22226d, #1d1c62, #171757, #12124c);
}


.content-wrapper {
  width: 1200px;
  margin: 1em auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

h1, h2, h3, h4, p  {
  font-weight: lighter;
}

h3 {
  font-weight: bold;
}

p {
  text-align: justify;
}

.box1 {
  grid-column: span 12;
  grid-row: span 1;
  border-radius: 50px;
  box-shadow: 10px 10px 20px #c2c2c2;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 1px;
  padding: 250px 0 0 0;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/combs1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box2 {
  grid-column: span 12;
  border-radius: 50px;
  box-shadow: 10px 10px 20px #c2c2c2;
  text-align: left;
  word-spacing: 5px;
  letter-spacing: 1px;
  padding: 200px 50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/faithevans1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box3 {
  grid-column: span 12;
  border-radius: 50px;
  box-shadow: 10px 10px 20px #c2c2c2;
  text-align: right;
  word-spacing: 5px;
  letter-spacing: 1px;
  padding: 200px 50px;
  margin-bottom: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/112.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box4 {
  grid-column: span 12;
  box-shadow: 10px 10px 20px #c2c2c2;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 1px;
}
